.button {
  color: $white-text;
  font-size: 18px;
  font-weight: 500;
  background-color: $button-bg;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }
}

.button--calculate {
  color: $black-text;
  line-height: 21.09px;
  padding: 16px 36px;
  background-color: $grey-light;
  width: 234px;
}

.button--save {
  line-height: 25.2px;
  width: 382px;
  padding: 18px 95px;
}

.button--clear {
  font-size: 16px;
  line-height: 18.75px;
  padding: 17px 31px;
}
