.promo {
  background-color: $promo-bg;
  min-height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.promo__wrapper {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 103px 98px 114px 268px;
  box-sizing: border-box;
  background:
    url('../../img/cards@2x.png') no-repeat,
    linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%) no-repeat,
    linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%) no-repeat,
    linear-gradient(183.47deg, rgba(56, 65, 255, 0) 66.3%, #3841FF 97.14%) no-repeat,
    linear-gradient(183.47deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%) no-repeat;
    background-size:
      440px 290px,
      150px 400px,
      298px 400px,
      150px 269px,
      270px 269px;
    background-position:
      700px 60px,
      0px 0px,
      1067px 0px,
      150px 135px,
      797px 222px;
}

.promo__h1 {
  color: $white-text;
  font-weight: 700;
  font-size: 54px;
  line-height: 63.28px;
  @include zero-indent;
  margin-bottom: 7px;
}

.promo__intro {
  color: $white-text;
  font-size: 22px;
  line-height: 25.78px;
  margin-bottom: 35px;
}
